body {
	padding: 10px;
	background: #eee;
}

.container
{
	background: #fff;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	padding: 10px;
}

.clearboth
{
	clear: both;
	padding: 0; 
	margin: 0;
	height: 1px;
}

/*
* fonts
*/
h1, h2, h3, h4, h5, h6, cite {	font-family:Georgia, "Times New Roman", Times, serif; }

h1 {
	font-size: 2em;
	margin-top: 0.6em; 
}
/*
* icons
*/
.icon { padding-left: 18px; }

.feed { background: transparent url(img/rss_12x12.png) no-repeat center left; }
.facebook {	background: transparent url(img/icon_facebook.gif) no-repeat center left; }


.vcard a img.photo {
	  width: 48px;
	  height: 48px;
	  border: 1px solid #eee;
	  padding: 2px;
	  
}

a#joinbutton {
  background: #74CA00;
  color: white; 
  text-decoration: none; 
  padding: 5px 10px 5px 10px;
  font-size: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a#joinbutton:hover {
	background: #8CF500;
}

#headbanner{
	clear:both;
	position:relative;
	text-align:center; 
	z-index:1000;
	padding:10px;
}

#maincontent
{
}

#sidebar
{
}


#sidebar .ad {
	padding: 10px 0 0 0;
}

#sidebar .ad-img {
	padding: 10px 0 0 10px;
}

/*
*  Header part
*/

#header {
	padding-top: 5px;
}
	#header h2 a {
		color: #000; 
		text-decoration: none; 
		display: block;
		height: 36px;
		width: 210px;
		background:url(img/logo.png);
	}
	
	#header h2  span {
		display: none; 
	}
	
	.login {
		text-align: right;
		padding-right: 10px;
		margin-top: 10px;
	}
	#header .vcard a img.photo {
	  width: 16px;
	  height: 16px;
	  vertical-align:middle;
	  border: 1px solid #eee;
	  padding: 1px;
	}

/*
*  Navi menu
*  http://woork.blogspot.com/2008/03/clean-tab-bar-digg-like-using-css.html
*/
ul.tab, li {border:0; margin:0; padding:0; list-style:none;}
ul.tab {border-bottom:solid 1px #DEDEDE; height:29px; padding-left:20px;}
ul.tab li{float:left; margin-right:2px;}
.tab a:link, .tab a:visited{
	background:url(img/tab-round.png) right 60px;
	color:#666666;
	display:block;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.tab a span{
	background:url(img/tab-round.png) left 60px;
	display:block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
.tab a:hover{
	background:url(img/tab-round.png) right 30px;
	display:block;
}
.tab a:hover span{
	background:url(img/tab-round.png) left 30px;
	display:block;
}

/* -------------------------------- */
/* 	ACTIVE ELEMENTS					*/
.active a:link, .active a:visited, .active a:visited, .active a:hover{
	background:url(img/tab-round.png) right 0 no-repeat;
} 
.active a span, .active a:hover span{
	background:url(img/tab-round.png) left 0 no-repeat;
}

	#search {
		float:right;
		padding: 4px;
		width: 250px;
		margin: 0 5px 5px 0;
		background: #eee;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
  		-webkit-border-top-left-radius: 5px;
  		-webkit-border-top-right-radius: 5px;
  		}
		#home_search_input {
			width:180px;
			margin-right: 5px;
		}
                    
/*
*  Welcome text blocks
*/                    
#welcome {
	height: 300px;
	padding: 10px 0 10px 0; 
	overflow: hidden;
}                    
	#intro {
		text-align: center;
		padding-top: 40px;
	}

/*
*  main picture of home page slide show big pictures
*/
div.recipes_photo_big_holder {
	height: 300px; 
}

.recipes_photo_big {
	position: absolute;
	height: 300px; 
	width: 490px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.recipes_photo_medium {
	position: absolute;
	height: 160px; 
	width: 240px;
	overflow: hidden;
	border: 1px solid #ccc;
}

	div.description {
		color: #ccc;
		position: absolute;
		padding-left: 5px;
		overflow: hidden;
		background: transparent url(img/trans_bg.png);
		left: 0px; 
		width: 100%;
		bottom: 0px;
		height: 40px; 
	}	
		div.description a {
			color: #ccc;
			text-decoration: none;
			font-style: normal;
			font-family: Verdana, sans-serif;
		}
		div.description h4 {
			padding: 0; 
			margin: 0;
			color: white;
			letter-spacing: 1px;
		}
		div.description .reactions {
			position: absolute;
			padding-left: 12px;
			background: transparent url(img/comment.gif) no-repeat center left;
			left: 80%;
		}
		
/*
*  recipes list
*/

ul.recipes_list {
	list-style: none;
	margin: 0; 
	padding: 0;
}

ul.recipes_list li {
	float: left;
	width: 240px;
	height: 160px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}

/*
*  Activities list
*/
ul.activities, ul.comments, ul.articles {
	list-style: none;
}		

ul.activities li{
	margin: 0; 
	padding: 0;
	padding-top: 5px;
	border-top: 1px dashed #ccc;
}

/*
* articles
*/
.article h1 {
  border-left: solid 6px #ccc;
  padding-left: 10px;
}

.byauthor {
	font: italic 1.1em Times, serif; letter-spacing: 1px; 
	margin: 0 0 1.5em;
}

.byauthor a:link, .byauthor a:visited {
	font: bold 0.85em Verdana, sans-serif;
	text-transform: uppercase; letter-spacing: 2px;
	margin-left: 0.25em;
	text-decoration: none;
}

.byauthor a:hover {
	border-bottom-width: 1px;
}


.mini_recipe {
	float: right; 
	margin-left: 10px; 
	padding: 10px; 
	width: 200px; 
	border: 1px solid #ccc;
}

/*
* author description
*/
.author_desc {
	margin: 1em 0 1em 0;
}

.author_desc p{
	text-align:left;
	margin: 0; 
	padding: 0;
}
.author_desc h4 {
	text-align: left; 
	margin: 0; 
	padding: 0;
}
.author_desc .vcard {
	float: left;
	margin: 4px;
}

.author_desc .vcard a img.photo {
	width: 64px;
	height: 64px;
	padding: 0;
	border: solid 3px white;
}
/*
http://blog.yosle.com/2007/09/20/css-round-corners/
*/

.bubble
{
padding: 0; margin: 0;
padding-top: 5px;
}

.arrow
{
width:9px;padding: 0; margin: 0;
}

.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block; }
.b1f {height:1px; background:#eee; margin:0 5px;}
.b2f {height:1px; background:#eee; margin:0 3px;}
.b3f {height:1px; background:#eee; margin:0 2px;}
.b4f {height:2px; background:#eee; margin:0 1px;}
.contentf {background: #eee; padding-left: 5px; padding-right: 5px;}

.uparrow {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-bottom:12px solid #eee; border-left:12px dotted transparent; border-right:12px dotted transparent; margin-left:50px;}
/* hack for IE5.5 */
* html .uparrow {width:24px; height:12px; w\idth:0; hei\ght:0;}

.downarrow {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-top:12px solid #eee; border-left:12px dotted transparent; border-right:12px dotted transparent; margin-left:50px;}
/* hack for IE5.5 */
* html .downarrow {width:24px; height:12px; w\idth:0; hei\ght:0;}

.leftarrow {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-right:12px solid #eee; border-top:12px dotted transparent; border-bottom:12px dotted transparent; margin-top: 4px;}
/* hack for IE5.5 */
* html .leftarrow {width:24px; height:12px; w\idth:0; hei\ght:0;}


/*
*  comments header
*/
.comments h3, .comments p{margin:0; padding:0; border:0;}
.comments p{
	font-size:16px;
	color:#666666;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.comments h3{
	margin-bottom:8px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}

.comments .bubble{
	background:url(img/bubble.png) left top no-repeat;
	width:70px;
	height:68px;
	text-align:center;
	padding-top:4px;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#575553;
	float:left;
	margin-right:20px;
}
	.comments .bubble .count{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:24px;
		color:#CC6600;
	}

/*
*  Nice action buttons
*/
a.button{
	background:url(img/button.gif);
	display:block;
	color:#555555;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:191px;
}
a:hover.button{
	color:#0066CC;
}

/* -------------------- */
/* CLASSES				*/
/* -------------------- */
	.add{
		background:url(img/add.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.delete{
		background:url(img/delete.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.user{
		background:url(img/user.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.alert{
		background:url(img/alert.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.msg{
		background:url(img/msg.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.download{
		background:url(img/download.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}

	.lens{
		background:url(img/lens.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}
	.info{
		background:url(img/info.gif) no-repeat 10px 8px;
		text-indent:30px;
		display:block;
	}


/*
*  Notify Message boxes styles
*/	

/* --------------------------------- */
/*MESSAGE BOX CLEAN	serie	  		 */
	.clean-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.clean-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.clean-ok{
		border:solid 1px #349534; 
		background:#C9FFCA;
		color:#008000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	.clean-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}

/* --------------------------------- */
/*MESSAGE BOX Iconized	  		 */
	.icon-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.icon-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC url(img/icon-yellow.png) 8px 6px no-repeat;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.icon-ok{
		border:solid 1px #90ac13; 
		background:#eef4d3 url(img/icon-green.png) 8px 6px no-repeat;
		color:#6b800d;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	.icon-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA url(img/icon-red.png) 8px 6px no-repeat;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	
/* --------------------------------- */
/*MESSAGE BOX SOLID	serie	  		 */

	.solid-gray{
		background:#444444;
		color:#FFFFFF;
		padding:4px;
		text-align:center;
	}
	.solid-yellow{
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:center;
	}
	.solid-ok{
		background:#008000;
		color:#FFFFFF;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}
	.solid-error{
		background:#CC0000;
		color:#FFFFFF;
		font-weight:bold;
		padding:4px;
		text-align:center;
	}

/*
* section 
*/
.section
{
	padding-top:10px;
}
.section h2{ margin:0px;
	padding:0px;
	border:0px;
}
.section h2{	color:#FFFFFF; 
	font-size:13px; 
	display:block; 
	background:url(img/h2_bg.gif) top left no-repeat #9A9A9A;
}
.section h2 span{
	padding:5px 10px; 
	background:url(img/h2_span_bg.gif) top right no-repeat; 
	display:block;
}

.section div{
	background:url(img/section_bg_left.png) bottom left  no-repeat #EEEEEE; 
	font-size:12px;
}
.section div div{
background:url(img/section_bg_right.png) right bottom no-repeat; 
	padding:10px; 
}

