{% extends "base.html" %}
{% load imageurl %}
{% block title %}Write a new article - Cookmom{% endblock %}
{% block navimenu %}{%endblock%}
{% block footer %}{%endblock%}
{% block content %}
<div id="navbar">
	<div style='float:right;'>
	 
	</div>
	<ul class="tab">
		<li class="active"><a href="#">Editor</a></li>
    	<li class=""><a href="#">Preview</a></li>
    	<li class=''>
    		<div style='padding-left: 20px; padding-top:5px;'>
    			<input type='button' title='Publish this post...' href="#" class="small awesome green" value='Publish'/>&nbsp;
    			<input type='button' title='Save this post...' href="#" class="small awesome red" value='Save'/>&nbsp;
    			<input type='button' title='Back to previous page...' href="#" class="small awesome black" value='Back'/>
      		</div>
    	</li>
    </ul>			
</div>

<div id='editpanel'>
<div class="span-18">

<form id='post' action='/edit/'>
	<p>
	<input type='edit' name='title' id='title' title='Enter the title here...' value='Share your cooking experience...'/>
	</p>
	<p>
	<textarea title='Write your article here...' name='content'></textarea>
	</p>
	<p>
	<input type='submit' title='Publish this post...' href="#" class=" awesome green" value='Publish'/>
	</p>
</form>

</div>
<div class="span-6 last">
<div class=''>
Last auto saved: 3 min ago.
</div>
<a href="#" class="awesome black" id="upload">Select photos</a>
<span id="spanButtonPlaceholder" ></span> 
<a href="#" class="awesome black" id="upload">Upload photos</a>
<div class="swfupload-control" flashurl="{{ MEDIA_URL }}swfupload/swfupload.swf">
<noscript class="error">
 We're sorry. SWFUpload could not load. You must have JavaScript enabled to enjoy SWFUpload.
</noscript> 
</div>

<ul class="imagelist">
<li><img src='{% imageurl 1 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 2 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 3 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 4 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 5 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 6 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 7 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 8 square%}' alt='Thumnail' title='click jump to section'/></li>
<li><img src='{% imageurl 9 square%}' alt='Thumnail' title='click jump to section'/></li>
</ul>

</div>

<div id='preview-panel'>
	Preview here...
</div>

{% endblock %}
{% block addition_include_script %}
{% endblock %} 
{% block doc_ready_script %}
$('textarea').elastic();
{% endblock %}
