{% extends "article/base.html" %}
{% block title %}{{object.title}} - Cookmom{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; <span>{{object.title}}</span>{% endblock %}
{% block main %}
{% render object%}
{% render object.author %}
{% load comments%}
{% comment_form for object %}

<h4>Comments</h4>
<div class='comments_list'>
{% render object.Comments %}
</div>

{% if False%}
<ul>
<li><a href='{% url article.views.edit_article id=object.id %}'>edit...</a></li>
<li><a href='{% url article.views.delete_article id=object.id %}'>del...</a></li>
</ul>
{% endif %}
{% endblock %}

