{% extends "article/base.html" %}
{% block title %}{{object.title}} - Cookmom{% endblock %}
{% block canonicalurl %}{% url article_detail id=object.id title=object.title%}{%endblock%}
{% block breadcrumb %}{{ block.super }} &raquo; <span>{{object.title}}</span>{% endblock %}
{% block h1%}{{object.title}}{%endblock%}
{% block main %}
{% block article %}
{% render object%}
<h4>About the author</h4>
{% render object.author templatetype=authorbox %}
{% endblock %}
{% load comments%}
{% comment_form for object %}

<h4>Comments</h4>
<div class='comments_list'>
{% if object.Comments %}
{% render object.Comments %}
{% else %}
<table></table>
{% endif %}
</div>

{% endblock %}

{% block side%}
<h3>You can...</h3>
<div>
<ul>
{% check_access object.author %}
<li><a class='awesome green' href='{% url article.views.edit_article id=object.id %}'>Edit this post</a></li>
<li><a class='awesome red' href='{% url article.views.delete_article id=object.id %}'>Unpublish this post</a></li>
{% else %}
<a href='#' class='awesome green'>+ Add to the favorite</a><br/>
<a href='#' class='awesome red'>Flag</a>
{% endcheck_access %}
<li><a class='awesome' href='#'>Write a followup post</a></li>
</ul>
</div>

<h3>Similar experiences</h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>

<h3>People like this also like </h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>

<h3>More from the author </h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>
{% endblock %}

