{% extends "article/base.html" %}
{% block title %}{{object.title}} - Cookmom{% endblock %}
{% block canonicalurl %}{% url article.views.show_article id=object.id title=object.title%}{%endblock%}
{% block breadcrumb %}{{ block.super }} &raquo; <span>{{object.title}}</span>{% endblock %}
{% block h1%}{{object.title}}{%endblock%}
{% block main %}
{% block article %}
{% render object%}
<h4>About the author</h4>
{% render object.author templatetype=authorbox %}
{% endblock %}
{% load comments%}
{% comment_form for object %}

<h4>Comments</h4>
<div class='comments_list'>
{% if object.Comments %}
{% render object.Comments %}
{% else %}
<table></table>
{% endif %}
</div>

{% if False%}
<ul>
<li><a href='{% url article.views.edit_article id=object.id %}'>edit...</a></li>
<li><a href='{% url article.views.delete_article id=object.id %}'>del...</a></li>
</ul>
{% endif %}
{% endblock %}

{% block side%}

<a href='#' class='awesome green'>+ Favorite</a>

<h3>Similar experiences</h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>

<h3>People like this also like </h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>

<h3>More from the author </h3>
<div>
{%render article.widgets.similar templatetype=listitem_self %}
</div>
{% endblock %}

