{% extends "base.html" %}
{% load imageurl %}
{% block title %}Editing "{{object.title}}" - Cookmom{% endblock %}
{% block content %}
<script>var EDITOR_PAGE=true;</script>
<div id="navbar">
	<div style='float:right;'>
	 
	</div>
	<ul class="tab">
		<li class="active"><a href="#" id='editor' title='Switch to editor'>Editor</a></li>
    	<li class=""><a href='/article/ajax/preview/{{object.id}}/' id='preview' title='Switch to preview'>Preview</a></li>
    	<li class=''>
    		<div style='padding-left: 40px; padding-top:2px;'>
    			<input type='button' title='Save this post...' href="#" class="small awesome blue" value='Save'/>&nbsp;
    			<input type='button' title='Back to previous page...' href="#" class="small awesome black" value='Back'/>
      		</div>
    	</li>
    	<li style='float:right; padding-top:2px;'>
			Last auto saved: 3 min ago.
		</li>
    </ul>			
</div>

<div id='editor-panel'>
<div class="span-18">

<form id='post' method='POST' action='{% url article_edit id=object.id%}'>
	<input type='hidden' name='images_list' value='{{object.images_list|join:"&#10;" }}' />
	<p>
	<input type='edit' name='title' id='title' title='Enter the title here...' value='{{object.title}}'/>
	</p>
	<p>
	<textarea id='editor' title='Write your article here...' name='content'>{{object.content}}</textarea>
	</p>
	<p>
	<input type='submit' title='Publish this post...' href="#" class=" awesome green large" value='Publish this post...'/>
	</p>
</form>

</div>
<div class="span-6 last">
<div class='solid-yellow'>
You can upload up to 20 photos for this post.
</div>
<br/>
<span id="spanButtonPlaceholder" ></span> 
<a href="#" class="awesome black" id="upload">Upload photos for this post...</a>
<div class="swfupload-control" flashurl="{{ MEDIA_URL }}swfupload/swfupload.swf">
<noscript class="error">
 We're sorry. SWFUpload could not load. You must have JavaScript enabled to enjoy SWFUpload.
</noscript> 
</div>

<ul class="imagelist">
{% for imgid in object.images_list %}
<li><img src='{% imageurl imgid square%}' alt='Thumnail' id='photo {{imgid}}' class='image_handle' title='click insert this image to the post'/></li>
{% endfor %}
</ul>
<br class='clear'/>
<span>Total: {{object.images_list|length}} photo(s)</span>

</div>
</div>

<div id='preview-panel'>
<div id='preview-content'>

</div>
</div>

{% endblock %}
{% block addition_include_script %}
{% endblock %} 
{% block doc_ready_script %}
$('textarea').elastic();
{% endblock %}
