{% extends "article/base.html" %}
{% load imageurl %}
{% block title %}Write a new article - Cookmom{% endblock %}
{% block content %}
<style>
a.imgeditor {
	text-decoration:none;
 	position:relative;
 	display:block;
 	margin:0; 
 	padding:0;
 	height: 100px;
}

a.imgeditor img {
	padding: 2px;
	border: 1px solid #eee;
	position:absolute;
}

a.imgeditor img:hover {
	border: 1px solid #aaa;
	opacity:0.9;
}

.moveup, .movedown, .del {
	position:absolute;
	top: 85px;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	opacity:0.6;
}

.moveup:hover, .movedown:hover, .del:hover {
	border: 1px solid #aaa;
	opacity:1;
}

.movedown 
{
	left: 20px;
}

.del {
	left: 40px;
}

a.imgeditor .moveup, a.imgeditor .movedown, a.imgeditor .del{
 	visibility:hidden;
}

a.imgeditor:hover .moveup, a.imgeditor:hover .movedown, a.imgeditor:hover .del {
	visibility:visible;
}

table.editor td{
//	border: 1px solid red;
	padding: 2px;
	vertical-align: top;
//	background: #eeeeaa;
}

td.image {
  width: 80px;
}

td.textedit textarea {
	width:98%; 
	padding:5px;; 
	margin:0; 
	height:75px;
	font-size: 1.3em;
	border: 1px solid #ffffff;
}

td.textedit textarea:hover {
	border: 1px solid #eeeeee;
}

td.textedit textarea:focus {
	border: 1px solid #cccccc;
}

span.addrow {
	border: 1px solid #eeeeee;
	color: #eeeeee;
	padding: 4px;
	display: block;
	text-align: center;
	width: 98%;
}

span.addrow:hover {
	border: 1px solid #cccccc;
	color: #cccccc;
}


</style>
<h1>Share your cooking experience...</h1>
<div class="span-18">
<table id='editor' class="editor">
<tr id='template-row'>
<td class='image'>
	<a class='imgeditor'>
		<img src='{% imageurl 2 square%}' alt='Thumnail' title='Preview or change photo...'/>
		<span class='moveup' title='Move this section up'>^</span>
		<span class='movedown' title='Move this section down'>v</span>
		<span class='del' title='Delete this sectionp'>x</span>
	</a>
</td>
<td class='textedit'>
	<textarea title='click to edit or add text here...'></textarea>
</td>
</tr>
<tr>
<td>

</td>
<td>
<span class='addrow'>
Click to add more...
</span>
</td>
</tr>
</table>
</div>
<div class="span-6 last">
<a href="#" class="button"><span class="add">Upload photos</span></a>
</div>
<hr class='space'/>

<a href="#" class="button"><span class="add">Publish</span></a> <a href="#" class="button"><span class="add">Preview</span></a>

{% endblock %}
{% block addition_include_script %}
<script src="http://sandbox.unwrongest.com/forms/js/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>
<script>
function attachEvents()
{
$('textarea').elastic();
$('.movedown').click(function() {
	row = $(this).parents('tr')
	row.hide()
	row.insertAfter(row.next()).show()
	row.show()
})

$('.moveup').click(function() {
	row = $(this).parents('tr')
	row.hide()
	row.insertBefore(row.prev()).show()
	row.show()
})
}
</script>
{% endblock %} 
{% block doc_ready_script %}

attachEvents()

$('span.addrow').click(function() {
	row = $(this).parents('tr')
	$('#template-row').clone().insertBefore(row).show()
	//attachEvents();
});
{% endblock %}
