{% extends "article/base.html" %}
{% load imageurl %}
{% block title %}Write a new article - Cookmom{% endblock %}
{% block content %}
<h1>Share your cooking experience...</h1>
<style>
a.imgeditor {
	width: 100px;
	height: 100px;
	text-decoration:none;
 	position:relative;
 	display:block;
}

a.imgeditor img {
	padding: 2px;
	border: 1px solid #eee;
	position:absolute;
	left: 20px;	
}

a.imgeditor img:hover {
	border: 1px solid #aaa;
	opacity:0.9;
}

.moveup, .movedown, .del {
	position:absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	opacity:0.6;
}

.moveup:hover, .movedown:hover, .del:hover {
	border: 1px solid #aaa;
	opacity:1;
}

.movedown 
{
	top: 20px;
}

.del {
	top: 40px;
}

a.imgeditor .moveup, a.imgeditor .movedown, a.imgeditor .del{
 	visibility:hidden;
}

a.imgeditor:hover .moveup, a.imgeditor:hover .movedown, a.imgeditor:hover .del {
	visibility:visible;
}


</style>

	<div class="span-3">Title</div>
	<div class='span-19 last'><input /></div>
<br style='clear:both;'/>
<ul id='cc'>
<li>
	<div class="span-3">
	<a class='imgeditor'>
		<img src='{% imageurl 2 square%}' alt='Thumnail' title='Preview or change photo...'/>
		<span class='moveup' title='Move this section up'>^</span>
		<span class='movedown' title='Move this section down'>v</span>
		<span class='del' title='Delete this sectionp'>x</span>
	</a>
	</div>
	<div class='span-19 last'><textarea style='width:100%; padding:0; margin:0; height:75px;font-size: 1.3em;'></textarea></div>
	<br style='clear:both;'/>
</li>
</ul>
<ul style='display:none'>
  <li id='tmpl' >
	<div class="span-3">
	<a class='imgeditor'>
		<img src='{% imageurl 2 square%}'/>
		<span class='moveup'>^</span>
		<span class='movedown'>v</span>
		<span class='del'>x</span>
	</a>
	</div>
	<div class='span-19 last'><textarea style='width:100%; padding:0; margin:0; height:75px;font-size: 1.3em;'></textarea></div>
	<br style='clear:both;'/>
</li>
</ul>
<br syle='clear:both;'/>
<button class='add' style="height: 35px;" > Adding more photos</button>

{% endblock %}
{% block addition_include_script %}
<script src="http://sandbox.unwrongest.com/forms/js/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>
<script>
function attachEvents()
{
$('textarea').elastic();
$('.movedown').click(function() {
	row = $(this).parents('li')
	row.hide()
	row.insertAfter(row.next()).show('fast')
	row.show()
})

$('.moveup').click(function() {
	row = $(this).parents('li')
	row.hide()
	row.insertBefore(row.prev()).show('fast')
	row.show()
})
}
</script>
{% endblock %} 
{% block doc_ready_script %}

attachEvents()

$('button.add').click(function() {
	$('#tmpl').clone().appendTo('#cc').show('fast')
	attachEvents();
});
{% endblock %}
