{% extends "base.html" %}
{% load imageurl %}
{% block title %}Write a new article - Cookmom{% endblock %}
{% block content %}
<h1>Upload</h1>
<p>
This demo shows how SWFUpload can behave like an AJAX application. Images are uploaded by SWFUpload then some JavaScript is used to display the thumbnails without reloading the page.
</p>
<a href="#" class="button"><span class="download">Upload photos </span></a>
<a href="/article/edit" class="button"><span class="add">No, upload  later</span></a>

{% endblock %}
