{% extends "people/base.html" %}
{% block title %}{{object.name}} - Cookmom{% endblock %}
{% block main %}

{% render object templatetype=details %}

{% if object.article_set %}
<h4>Articles by {{object.name}}</h4>
{% render object.article_set templatetype=listitem_self%}
{% else %}
{{object.name}} not yet write any article
{% endif %}

{% if object.comment_set %}
<h4>Comments by {{object.name}}</h4>
{% render object.comment_set templatetype=target%}
{% else %}
{{object.name}} not yet write any comment
{% endif %}

{% load comments%}
{% comment_form for object %}

{% if object.Comments %}
<h4>Comments</h4>
<div class='comments_list'>
{% render object.Comments %}
</div>
{% else %}
No comment.
{% endif %}

{% endblock %}