{% extends "people/base.html" %}
{% block breadcrumb %}{{ block.super }} &raquo; <span>Latest</span>{% endblock %}
{% block h1%}
<!--
<form style='float:right; margin:0;' action='/people/search/'>
<input type='edit' value='searh by name or email'/><input type='submit' value='Search'/>
</form>-->
People
{%endblock%}
{% block main %}
<ul class='tab'>
<li class='active'><a href='#' >Latest</a></li>
<li><a href='#'>Most Active</a></li>
</ul>

{% load paginator %}
{% paginator %}
{% render object_list template=components/user_listitem.html%}
{% paginator %}
{% endblock %}

{% block side %}
<h3>All time top foodie</h3>
{% render people.widgets.alltop %}

<h3>This week's top foodie</h3>
{% render people.widgets.weeklytop %}

{% endblock %}