<td class='photo'>
	<a href='{% url article.views.show_article id=object.id title=object.title%}' title="{{object.title}}">
	<img src="{%imageurl object.image square %}" alt="{{object.title}}" />
	</a>
</td>
<td class='abstract'>
<a href="{% url article.views.show_article id=object.id title=object.title%}" title="{{object.title}}">{{object.title}}</a>
</td>
<td>
{% if object.published %}
<a href='{% url article.views.unpublish id=object.id %}' class='small awesome red ajax_action'>make draft</a>
{% else %}
<a href='{% url article.views.publish id=object.id %}' class='small awesome green ajax_action'>Publish</a>
{% endif %}
<a href='{% url article.views.delete_article id=object.id %}' class='small awesome red'>Delete</a>
<a href='{% url article.views.edit_article id=object.id %}' class='small awesome blue'>Edit</a>
<a href='/edit/' class='small awesome blue'>Manage comments</a>
</td>
