<td class='photo'>
	<a href='{% url article_detail id=object.id title=object.title%}' title="{{object.title}}">
	<img src="{%imageurl object.image square %}" alt="{{object.title}}" />
	</a>
</td>
<td class='abstract'>
<h2><a href="{% url article_detail id=object.id title=object.title%}" title="{{object.title}}">{{object.title}}</a></h2>
<p class='stat'>
{{object.comment_count}} comments | {{object.image_count}} pictures | {{object.favorite_count}} favorites
</p>
</td>
<td class='author'>
{%render object.author%}
</td>
