<td style='vertical-align:top; padding: 0; width:80px; padding:0; height: 50px; overflow: hidden; '>
	<a href='{% url article.views.show_article slug=object.slug %}' title="{{object.title}}" style='width: 80px; height:80px;border: 1px solid #eee; padding: 3px;'>
	<img src="{%imageurl object.image square %}" alt="{{object.title}}" />
	</a>
</td>
<td style='vertical-align:top; padding: 0 10px;'>
<h3 style='width: 100%; background: #eee; padding: 4px;  '>
<a style='text-decoration: none;' href="{% url article.views.show_article slug=object.slug %}" title="{{object.title}}">{{object.title}}</a></h3>
<p>
10 comments, 10 pictures, 20 similar, 4 stars
</p>
</td>
<td style='width:60px;vertical-align:top; padding:0;'>
{%render object.author%}
</td>
