{% if taggable %}
<span class='tags'>
{% for tag in taggable.tags %}
<a class='tag' href='{%url taggable.views.show_by_tag tag=tag%}' title='{{tag}}'><span class='tagtext'>{{tag}}</span>
{% if tag %}
<span class='op' href='{%url taggable.views.remove_tags%}?tags={{tag}}&target={{taggable.target.key}}' title='Click to remove tag: {{tag}}'>&nbsp;</span>
{% endif %}
</a>
{% endfor %}
</span>
{% endif %}
<form action='{%url taggable.views.add_tags%}'>
<input type='input' name='tags'/>
<input type='hidden' name='target' value='{{target.key}}'/>
<input type='submit' value='Add tags'></input>
</form>