{% if authuser.is_authenticated %}
Welcome! {{current_user.name}} <a href="/people/me/">My home</a> | <a href='{{authuser.logouturl}}'>Logout</a>
{% else %}
<a href='/home/'>
<fb:profile-pic uid="loggedinuser" width="32" height="32" facebook-logo="false" linked='false'></fb:profile-pic>
</a>
<fb:login-button v="2" size="small" onlogin="window.location.reload(true);">Login with Facebook</fb:login-button>
Welcome! <a href="{{authuser.loginurl}}"   title="Sign In">Login</a> | <a href='#' title="Sign Up and Register a New User.">Join</a>
{% endif %}
