/*
*  Welcome text blocks
*/                    
#welcome {
	height: 300px;
	padding: 10px 0 10px 0; 
	overflow: hidden;
}                    
	#intro {
		text-align: center;
		padding-top: 40px;
	}

/*
*  main picture of home page slide show big pictures
*/
#main_receipes {
	width: 490px;
	height: 300px;
}

#main_receipes ul {
	margin:0;
	padding:0;
}

#main_receipes ul li {
	margin: 0; 
	padding:0;
}
	
.recipes_photo_big {
	position: absolute;
	height: 300px; 
	width: 490px;
	overflow: hidden;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
}


.recipes_photo_medium {
	position: absolute;
	height: 160px; 
	width: 240px;
	overflow: hidden;
	border: 1px solid #ccc;
}

	div.description {
		color: #ccc;
		position: absolute;
		padding-left: 5px;
		overflow: hidden;
		background: transparent url(img/trans_bg.png);
		left: 0px; 
		width: 100%;
		bottom: 0px;
		height: 40px; 
	}	
		div.description a {
			color: #ccc;
			text-decoration: none;
			font-style: normal;
			font-family: Verdana, sans-serif;
		}
		div.description h4 {
			padding: 0; 
			margin: 0;
			color: white;
			letter-spacing: 1px;
		}
		div.description .reactions {
			position: absolute;
			padding-left: 12px;
			background: transparent url(img/comment.gif) no-repeat center left;
			left: 80%;
		}
		
/*
*  recipes list
*/

.recipes_list ul {
	list-style: none;
	margin: 0; 
	padding: 0;
}

.recipes_list ul li {
	float: left;
	width: 240px;
	height: 160px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}
