<td class='vcard'>
<a href="{% url people.views.show_user id=object.id%}" class="url" title="{{object.name}}">
{% load userimage %}{% userimage object.img %}
</a>
</td>
<td>
<h4><a href='{% url people.views.show_user id=object.id%}' title='{{object.name}}'>{{object.name}}</a> | {{object.city}}</h4>
<p>
{{object.brief}}
</p>
<p>
10 stories | 20 comments | 10 badges
</p>
<p>
<strong>Lastest:</strong> comment on <a href='#'>Blah...</a> (3 minutes ago)
</p>
</td>
<td>
<a href='#' class='awesome'>+ Follow</a>
</td>
