form#post {
	width: 100%;
	border: 1px; solid red;
}

form#post p {
	padding: 5px;
	margin: 0;
}

form#post textarea {
	width: 95%;
	height: 50px;
}

form#post input#title {
	font-size: 20pt;
	padding: 5px;
	width: 95%;
	border: 1px solid #ccc;
}

form#post input#title:focus {
	font-size: 20pt;
	width: 95%;
	border: 1px solid #000;
}

ul.imagelist {
	padding: 0;
	margin:5px 0 0 0;
}

ul.imagelist li {
	float:left;
	padding:0px; 
	margin:2px;
	width: 70px;
	height: 70px;
}

#preview-panel {
  display: none;
}

