{% extends "base_content.html" %}
{% block tabAnswer %}active{% endblock %}
{% block main %}

<h2>How to cook Chinese Noodle?</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</p>
<div class="clean-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</div>				<br />
<div class="clean-yellow">Clean message box</div>			<br />
<div class="clean-ok">Clean Ok! message box</div>			<br />
<div class="clean-error">Clean error message box</div>		<br /><br /><br />

<div class="icon-yellow">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</div>			<br />
<div class="icon-ok">Clean Ok! message box</div>			<br />

<div class="icon-error">Clean error message box</div>		<br /><br /><br />

<div class="solid-gray">Solid message box</div>				<br />
<div class="solid-yellow">Solid message box</div>			<br />
<div class="solid-ok">Solid Ok message box</div>			<br />
<div class="solid-error">Solid error message box</div>		<br /><br /><br />

<h3>Answers</h3>
		{% include "components/activities_list.html" %}
		
<h3>Recommended recipes for this question:</h3>

		{% include "components/recipes_list.html" %}
<hr/>

{% include "components/comments_list.html" %}
{% endblock %}


{% block side %}

<div class="comments">
	<div class="bubble">
		<span class="count">{{ comments|length }}</span><br/>
	    comments
	</div>
	
	<h3>This is my new post</h3>
	<p>About how to design a nice comments counter for your blog :)</p>
</div>

<div class="section">
<h2><span>Actions...</span></h2>
<div>
    <div>
<a href="#" class="button"><span class="add">Add to your bookmark</span></a>

<a href="#" class="button"><span class="delete">Delete bookmark</span></a>
    </div>
</div>
</div>

{% include "ad-square.html" %}



{% endblock %} 