<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}CookMom: healthy and delicious cooking made easy!{% endblock %}</title>
<meta name="keywords" content="Mothers, cook, food, recipes,{% block metakey %}{% endblock %}" />
<meta name="description" content="{% block metadesc %}CookMom.com provide free online tools such as personalized meal planner, shopping list and recipes book, which makes the users have a better experience to share recipes, cooking stories and beyond. {% endblock %}" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
<!-- Framework CSS -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}blueprintcss/print.css" type="text/css" media="print">
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}blueprintcss/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="alternate" type="application/rss+xml" title="RSS Feed of {{blogtitle|safe}}" href="/feeds/latest/" />
<link REL="SHORTCUT ICON" HREF="/favicon.ico">
</head>
<body>
<div class="container" id="wrapper">

<!-- header -->
<div id="header">
	<div class="span-13"> 
		<h2 ><a href="/" title="Cookmom"><span>Cookmom</span></a></h2>
	</div>
	{% if user %}
	<div class="login">
	{% render currentuser %}
	Welcome, Sabrina! <a href="/my/">My home</a> | <a href='#'>Logout</a>
	</div>
	
	{% else %}
	<div class="span-9 last">
		<div id="signin">
			<a href="/html/login/index.html?TB_iframe=true&height=220&width=260&modal=1"  rel="lightbox" title="Sign In Using Cookmom Account.">Login</a> | <a href='#' title="Sign Up and Register a New User.">Join</a>
		</div>	
	</div>
	{% endif %}
	<br class="clearboth"/>
	<!-- navi menu -->
	<div id="navbar">
		<div id="search">
				<form action="/search/" name="SearchForm" method="get" id="searchform_main">
				     <input name="q" id="home_search_input" type="text" value="recipes, ingredients,..."></input>
					<button id="home_search_button" type="submit">
						<span>search</span>
					</button>
				</form>
		</div>		
		<ul class="tab">
	    	<li class="{%block tabHome%}{%endblock%}"><a href="/home/"><span>Home</span></a></li>
	    	<li class="{%block tabArticle%}{%endblock%}"><a href="/article/"><span>Article</span></a></li>
	    	<li class="{%block tabPeople%}{%endblock%}"><a href="/people/"><span>People</span></a></li>
<!--	        <li class="{%block tabRecipe%}{%endblock%}"><a href="/recipe/"><span>Recipes</span></a></li>
	        <li class="{%block tabIngredient%}{%endblock%}"><a href="/ingredient/"><span>Ingredients</span></a></li>
	        <li class="{%block tabCookware%}{%endblock%}"><a href="/cookware/"><span>Cookware</span></a></li>
	        <li class="{%block tabAnswer%}{%endblock%}"><a href="/answer/"><span>Ask Cookmom</span></a></li>
-->	    </ul>			
	</div>	
</div>
<hr class="space clearboth" />
<!-- main content -->
{% block content %}{% endblock %}
<!-- footer -->
<div id="footer">
	<div class="span-6">
		<h3>About CookMom...</h3>
		<ul>
		<li><a href="/about/">About</a>
		<li><a href="/blog/">Blog</a>
		<li><a href="/contact/">Contact</a>
		<li><a href="/tos/">Term of Service</a>
		<li><a href="/privacy/">Privacy</a>
		</ul>
	</div>
	<div class="span-6">
		<h3>Need Help?</h3>
		<ul>
		<li><a href="/faq/">FAQ</a>
		<li><a href="/faq/" class="icon facebook">Join our facebook page...</a>
		<li><a href="/faq/">Follow us on twitter...</a>
		<li><a href="#" title="Subscribe to the RSS feed" class='icon feed'>Subscribe</a></li>
		</ul>
	</div>
	<div class="span-6">
		<h3>Leadersboard</h3>
		<ul>
		<li><a href="/toprecipes/">Top recips</a></li>
		<li><a href="/topusers/">Top cookmoms</a></li>
		<li><a href="/topusers/">Best of the week</a></li>
		</ul>
	</div>
	<div class="span-6 last">
		<h3>Quick links</h3>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
	</div>	
	<hr/>
	Copyright &copy; 2008-2009, CookMom.com, powered by Google App Engine.
</div>

<!-- Load jQuery from Google's CDN service.  --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<!-- Load our own combined javascripts -->
<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
{% block addition_include_script %}
{% endblock %} 
<script type="text/javascript">
 //   Cufon.replace('h1');
 //   Cufon.replace('h2');
 //   Cufon.replace('h3');
 //   Cufon.replace('h4');
 
$(document).ready(function(){
  SexyLightbox.initialize({
    find          : 'lightbox', // rel="lightbox"
    color         : 'white',
    dir           : '{{ MEDIA_URL }}lightbox',
    emergefrom    : 'top',
    OverlayStyles : {
      'background-color': '#000',
      'opacity' : 0.6
    }
  });
  
{% block doc_ready_script %}
{% endblock %}   
});


</script>

</body>
</html>