{% extends "base.html" %}
{% block title %}Home - Cookmom{% endblock %}
{% block tabHome %}active{% endblock %}
{% block content %}
<div id="welcome">
  <div class="span-13">
  	{% include "components/photo_big.html" %}
  </div>
  <div class="span-11 last" id="intro">
	<h2>Share your cooking experiences...</h2>
	<h3>to more than 12,000 food lovers...</h3>
	<h3>with more than 234,500 cooking stories...</h3>
	<h3><a id="joinbutton" href="/html/login/index.html?TB_iframe=true&height=220&width=260&modal=1"  rel="lightbox">Join now!</a></h3>
	<a href="#TB_inline?height=390&width=645&background=#fff&inlineId=videotour"" title="Video tour of Cookmom.com" rel="lightbox" class="icon feed">Video tour</a>
	<div id="videotour" style="display:none;">
	<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/HEheh1BH34Q&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/HEheh1BH34Q&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
	</div>
	
  </div>
</div>

<div>
	<div class="span-13" >
		<h2>Hot receipes</h2>
		{% include "components/recipes_list.html" %}
	</div>
	<div class="span-11 last">
		<h2>What's going on...</h2>
		{% include "components/activities_list.html" %}
	</div>
</div>
<hr/>
{% endblock %}