{% extends "base_content.html" %}
{% block title %}Green bean - Cookmom{% endblock %}
{% block tabIngredient %}active{% endblock %}
{% block main %}

<h1>Green bean</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</p>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Foods.jpg/250px-Foods.jpg" />
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</p>

<h3>articles on green bean</h3>
		{% include "components/activities_list.html" %}
<h3>where to buy</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</p>

<h3>Reciepes cooks with green bean</h3>

		{% include "components/recipes_list.html" %}
<hr/>

{% include "components/comments_list.html" %}
{% endblock %}


{% block side %}
<div class="comments">
	<div class="bubble">
		<span class="count">{{ comments|length }}</span><br/>
	    comments
	</div>
	
	<h3>This is my new post</h3>
	<p>About how to design a nice comments counter for your blog :)</p>
</div>

<div class="section">
<h2><span>Actions...</span></h2>
<div>
    <div>
<a href="#" class="button"><span class="add">Add to your bookmark</span></a>

<a href="#" class="button"><span class="delete">Delete bookmark</span></a>
    </div>
</div>
</div>


{% include "ad-square.html" %}
</h2>

{% endblock %} 