{% extends "base_content.html" %}

{% block topad %}
<!-- no ad -->
{%endblock%}

{% block main %}

<h2>What's in your mind?</h2>
<style>
.w { border: 4px solid #ccc; display: block; padding: 0; margin: 0; background: #ccc; width: 90%;}			
.form textarea.input { margin: 0; font-size: 16px; line-height: 20px; max-height: 215px; height: 1.5em; width: 100%; }
</style>

<div class="form">
	<p>
		<span class="w">
			<textarea class="input">This textarea is going to grow when you fill it with text. Just type a few more words in it and you will see. </textarea>
		</span>
	</p>
</div>


<ul>
<li><a href="/blog/">My Cooking Blog...</a> <a href="#">Write a new blog</a></li>
</ul>
	

{% endblock %}

{% block side %}

<h2>Friends activities...</h2>


<div class="section">
<h2><span>Actions...</span></h2>
<div>
    <div>
      do sth.
	</div>
</div>
</div>
{% endblock %}

{% block addition_include_script %}
<script src="http://sandbox.unwrongest.com/forms/js/jquery.elastic.js" type="text/javascript" charset="utf-8"></script>
{% endblock %} 

{% block doc_ready_script %}
$('textarea').elastic();
{% endblock %}