{% extends "base_content.html" %}
{% block title %}Lisa Bercky - Cookmom{% endblock %}
{% block main %}
<h1>Lisa Bercky</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.
</p>
<img src='http://a3.twimg.com/profile_images/374652761/IMG_6122_2.JPG'/>
<h3>My rcent activity</h3>
		{% include "components/activities_list.html" %}
		
<h3>My recipes:</h3>

		{% include "components/recipes_list.html" %}
<hr/>
<h3>8 comments</h3>
{% include "components/comments_list.html" %}

{% endblock %}