<div class="thumb author span-2">
	{% include "components/usericon.html" %}
</div>
<div class="status-body">
	<strong>
		<a href="/user/" class="screen-name" title="Mary Hodder">MaryHodder</a>
	</strong>
	<span class="entry-content">
	moving day for friend's biz.  Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus...
	moving day for friend's biz.  Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus...
	</span>
	<span class="meta entry-meta">
		<span class="published">(27 minutes ago)</span>
	</span>
</div>
<hr class="space clearboth"/>