<div class="thumb author span-2">
	{% include "components/usericon.html" %}
</div>
<div class="status-body span-8 last">
	<strong>
		<a href="/user/" class="screen-name" title="Mary Hodder">MaryHodder</a>
	</strong>
	<span class="entry-content">
	moving day for friend's biz. 
	</span>
	<br/>
	<span class="meta entry-meta">
		<a href="http://twitter.com/MaryHodder/status/1642202148" class="entry-date" rel="bookmark">
		<span class="published">27 minutes ago</span>
		</a> 
	</span>
</div>
<hr class="space"/>