<h1>{{object.title}}</h1>
<h4 class="byauthor">By <a href="{{object.author.url}}" title='{{object.author.name}}'>{{object.author.name}}</a></h4>
{% if object.attachments.ingredients %}
<div class="mini_recipe ">
<h3>Ingredients</h2>
{% render object.attachments.ingredients %}
</div>
{% endif %}
</p>{{object.content}}<p>
<hr class='space'/>
{% render object.author %}
<div>
{% render object.Comments %}
</div>
<ul>
<li><a href='{% url article.views.show_article key=object.key %}'>view...</a></li>
<li><a href='{% url article.views.edit_article key=object.key %}'>edit...</a></li>
<li><a href='{% url article.views.delete_article key=object.key %}'>del...</a></li>
</ul>