<td>
{% include "components/usericon.html" %}
</td>
{% spaceless %}
<td class="arrow">
  <em class="leftarrow"></em>
</td>
<td class="bubble"><div>
	<b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
	    <div class="contentf">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus. 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus. 
	    </div>
	<b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>
</div></td>
{% endspaceless %}
