<div class="ldVoteBlock">
    <ul class="ldStats">
      <li id="ldUpcount-255280" class="ldStats-up">10</li>
      <li id="ldDowncount-255280" class="ldStats-down">0</li>
      <li class="ldStats-views">753</li>
      <li class="ldStats-clicks">476</li>
    </ul>
    
    <div class="ldVoteUp"><a id="ldVoteUp-255280" href="#" onclick="showLoginDialog(255280, null); return false"><span id="ldVoteUpPrompt">Vote up</span></a></div>
 <!--   <div class="ldVoteDown"><a id="ldVoteDown-255280" href="#" onclick="showLoginDialog(255280, null); return false;"><span id="ldVoteDownPrompt">Vote down</span></a></div>
  -->
</div>
<br class="clearboth"/>